<div id="q_top13">
    <div id="m_top013">
        <div class="blankleftbottom">
            <div class="blankbottom"><a href="@Url.Action("Council","Static")" target="_blank">理事单位</a>&nbsp; &nbsp;<a href="@Url.Action("Advertisement","Static")">广告合作</a>&nbsp; &nbsp;<a href="@Url.Action("Order","Static")">杂志订购</a>&nbsp; &nbsp;<a href="@Url.Action("Notice","Static")">投稿须知</a></div>
            <div>
                地址：上海市宝昌路297号&nbsp;邮编：325401<br />
                电话：（021）51020808转5117、5103、5117<br />
                传真：（021）51803255  Email:<a href="mailto:shgygl@126.com">shgygl@126.com</a>
            </div>
        </div>
        <div class="floatleft">
            <div class="bottomerwei"><img src="/Content/images/erwei.gif" width="83" height="83" /></div>
            <div class="bottombanquan">
                Copyright @@1985-2016 All Right Reserved. <br />
                版权所有 上海工业锅炉研究所<br />
                网络备案号:沪ICP备09086544号
            </div>
        </div>
    </div>
</div>


