<div id="q_top03">
    <div id="m_top03">
        <!--大图切换-->
    </div>
</div>
<div id="q_top04">
    <div id="m_top04">
        <div id="top04">
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="/Magazine">在线阅读</a></div>
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="@Url.Action("Order","Static")">杂志订购</a></div>
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="#">期刊下载（pdf版）</a></div>
        </div>
    </div>
</div>


