<div id="q_top01">
    <div id="m_top01">
        <div class="top01_01"><img src="/Content/images/magazine_top01.gif" width="19" height="13" />投稿邮箱：<a href="mailto:shgygl@126.com">shgygl@126.com</a></div>
        <div class="top01_02"><img src="/Content/images/magazine_top02.gif" width="17" height="17" />电话：021-51020808转5103、5115、5117</div>
        @*<div id="zudltc">
            <div class="top01_04" id="yctc"><a href="@Url.Action("Login","Register")">登录&nbsp;<img src="/Content/images/magazine_top04.gif" width="5" height="6" /></a></div>
            <div id="yctc01" style="display:none">
                <div id="tip" class="top01_03_02"></div>
                <div class="top01_04" id="loginout"><a href="#">退出</a></div>
            </div>
            <div class="top01_03" id="reg"><img src="/Content/images/magazine_top03.gif" width="19" height="19" /><a href="@Url.Action("Reg","Register")">免费注册</a></div>
            <div class="top01_03" id="usermanage" style="display:none"><img src="/Content/images/magazine_top03.gif" width="19" height="19" /><a href="@Url.Action("Manage","Register")">账号管理</a></div>
        </div>*@
    </div>
</div>
