<div id="q_top02">
    <div id="m_top02">
        <div class="top02_01"><img src="/Content/images/magazine_top02_logo.gif" width="205" height="78" /></div>
        @Html.Action("TopShare")
    </div>
</div>
<div id="q_top02bg" style="display: none;"></div>


