<div id="q_top02chong" class="qtopchongtop">
    <div id="m_top02chong">
        <div id="chong01_01"><img src="/Content/images/magazine_top02_logo.gif" width="205" height="78" /></div>
        @Html.Action("TopShare")
    </div>
</div>
<div id="q_top02bg_2" style="display: none;"></div>