@{
    ViewBag.Title = "杂志广告";
}
@section Css{
    @Styles.Render("~/Content/staticss")
}
@section scripts{
    @Scripts.Render("~/bundles/static")
}
@section Header{
    @Html.Action("Header", "Home")
}
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="center_zhuti"></div>
            <div>
                <div class="statictit">
                    《工业锅炉》杂志广告刊登办法
                </div>
            </div>


            <div class="bgcolor01">
                <div class="bgcolor0202"></div>
            </div>

            <div class="topbank20"></div>

            <div id="staticmain">

                <div><img src="/Content/images/qishu_book.gif" width="200" height="271" /></div>
                <div class="staticjs">

                    <div>
                        <p> 《工业锅炉》（双月刊）是¬¬经国家科委批准、由（原机械部）上海工业锅炉研究所主办的以介绍工业锅炉行业新技术、新经验为主的技术刊物，国内统一刊号CN31—1400/TK，邮发代号4—586，国际标准刊号ISSN1004-8774，国外发行代号：BN1736，广告经营许可证：许可证号3101520080007。</p>
                        <p>本刊系中国工业锅炉行业唯一专业期刊，同时系中国科技论文统计用源刊、全国能源刊物优秀期刊，入编中国学术期刊（光盘版）、万方数据系统《科技期刊群》，读者面广量大。我们热忱欢迎您们——生产经营工业锅炉及其配套产品（包括水处理设备、电控箱、油、气燃烧器、除尘器、水泵、风机等部件、辅机、仪器仪表及各种附件）的工厂、公司来本刊刊登广告。</p>
                        <p>
                            <span style="font-weight: bold">刊登广告须知：</span><br />
                            1．凡需刊登广告，应首先与本刊编辑部预约广告版面，并签定广告发布合同。合同一式两份，双方签字盖章，各持一份，共同遵守。<br />
                            2．广告收费标准表请向本刊编辑部索取。<br />
                            3．广告内容和表达方式应符合国家有关广告法规的规定，并应交验有关证明文件，如：工商企业《营业执照》（复印件）、《外国企业在中国常驻代表机构登记证》（复印件）、压力容器产品生产许可证（复印件）、获奖产品、专利产品证书（复印件）等。<br />
                            4．广告文字应简明扼要，封面广告以50～100字为限，其余版面广告以不超过100～200字为宜。广告用图片必须清晰（请提供彩色照片或黑白照片），封面广告设计须同时符合本刊封面版式要求。<br />
                            5．广告稿件应在规定时间内寄（送）到本刊编辑部，逾期10天内，须付10%的加急费，逾期10天以上，不再刊登。<br />
                            6．本刊实行广告费预付制度。广告费应在规定日期内一次寄（送）本部开户银行帐号，逾期恕不保留预订版面。<br />
                            7．若客户在广告稿发往印刷厂10天内要求更改内容，须按广告费的20%支付更改费，10天之后恕不办理更改。<br />
                            8.广告一经刊出，我部赠送刊户当期杂志5册。
                        </p>

                        </p>
                    </div>

                    <div class="topbank20"></div>
                    <div class="staticadvertisement">
                        <div>户名：上海工业锅炉研究所</div>
                        <div>联系人：周苇，顾春辉</div>
                        <div>开户银行：工行上海市天目东路支行</div>
                        <div>电话（或传真）：021-51020808-5103</div>
                        <div>银行帐号：1001215509300553939</div>
                        <div>地 址：上海市宝昌路297号<br />（邮编：200071）</div>
                    </div>
                </div>

            </div>
            <div class="topbank20"></div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>

