@{
    ViewBag.Title = "联系我们";
}
@section Css{
    @Styles.Render("~/Content/staticss")
}
@section scripts{
    @Scripts.Render("~/bundles/static")
}
@section Header{
    @Html.Action("Header", "Home")
}
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="center_zhuti"></div>
            <div>
                <div class="statictit">《工业锅炉》联系方式</div>
            </div>
            <div class="bgcolor01">
                <div class="bgcolor0202"></div>
            </div>
            <div class="topbank20"></div>
            <div id="staticmain">
                <div><img src="/Content/images/addmap.gif" width="243" height="300" alt="" /></div>
                <div class="staticjs02">
                    联系人：顾春辉、周苇<br />
                    电&nbsp;话：(021)51020808-5115、5103<br />
                    传&nbsp;真：（021）51803255<br />
                    地&nbsp;址：上海宝昌路297号<br />
                    邮&nbsp;编：200071<br /><br />
                    公交路线：地铁1号线中兴路站，地铁3、4号线宝山路站，公交942路、
                </div>
            </div>
            <div class="topbank20"></div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>

