@{
    ViewBag.Title = "理事会";
}
@section Css{
    @Styles.Render("~/Content/staticss")
}
@section scripts{
    @Scripts.Render("~/bundles/static")
}
@section Header{
    @Html.Action("Header", "Home")
}
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="center_zhuti"></div>
            <div>
                <div class="statictit">
                    《工业锅炉》杂志理事会
                </div>
            </div>


            <div class="bgcolor01">
                <div class="bgcolor0202"></div>
            </div>

            <div class="topbank20"></div>

            <div id="staticmain">

                <div><img src="/Content/images/qishu_book.gif" width="200" height="271" /></div>
                <div class="staticjs">
                    <div>
                        <p>《工业锅炉》杂志理事会（以下简称理事会）由行业部分企事业单位按照自愿、平等、双赢的原则组建。理事会在相互尊重和充分协商的基础上，充分发挥《工业锅炉》杂志在工业锅炉领域科技创新中的理论和技术成果报道及信息传播的作用，密切《工业锅炉》杂志与相关企事业单位的联系与合作，积极开展合作与交流活动。</p>
                        <p>理事会每年召开一次理事会年会，听取《工业锅炉》杂志工作汇报，对《工业锅炉》杂志的办刊方针、发展方向等重大事项进行指导咨询，确立下一年杂志工作重点，充分发挥各自的优势，为《工业锅炉》杂志的发展壮大贡献力量。</p>
                        <p>理事会成员单位可以优先在《工业锅炉》杂志上刊登符合要求的科技论文、科技成果、科技信息；每届免费在一期《工业锅炉》杂志上刊登彩色广告或企业宣传介绍；参加理事会议参与理事会组织的各项交流研讨、业内考察等活动。</p>
                        <p>《工业锅炉》杂志理事会（以下简称理事会）由行业部分企事业单位按照自愿、平等、双赢的原则组建。理事会在相互尊重和充分协商的基础上，充分发挥《工业锅炉》杂志在工业锅炉领域科技创新中的理论和技术成果报道及信息传播的作用，密切《工业锅炉》杂志与相关企事业单位的联系与合作，积极开展合作与交流活动。</p>
                        <p>理事会每年召开一次理事会年会，听取《工业锅炉》杂志工作汇报，对《工业锅炉》杂志的办刊方针、发展方向等重大事项进行指导咨询，确立下一年杂志工作重点，充分发挥各自的优势，为《工业锅炉》杂志的发展壮大贡献力量。</p>
                        <p>理事会成员单位可以优先在《工业锅炉》杂志上刊登符合要求的科技论文、科技成果、科技信息；每届免费在一期《工业锅炉》杂志上刊登彩色广告或企业宣传介绍；参加理事会议参与理事会组织的各项交流研讨、业内考察等活动。</p>
                    </div>
                </div>
            </div>
            <div class="topbank20"></div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>


