@{
    ViewBag.Title = "征文通知";
}
@section Css{
    @Styles.Render("~/Content/staticss")
}
@section scripts{
    @Scripts.Render("~/bundles/static")
}
@section Header{
    @Html.Action("Header", "Home")
}
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">



            <div class="center_zhuti"></div>
            <div>
                <div class="statictit">
                    《工业锅炉》征文通知<br />
                    <span class="statictit_fu">
                        对有关（工业）锅炉能源利用、节能管理与节能改造等相关方面征集技术论文的通知
                    </span>
                </div>
            </div>


            <div class="bgcolor01">
                <div class="bgcolor0202"></div>
            </div>

            <div class="topbank20"></div>

            <div id="staticmain">

                <div><img src="/Content/images/qishu_book.gif" width="200" height="271" /></div>
                <div class="staticjs">

                    <p>
                        工业锅炉是我国耗能大户，同时又是大气污染物排放大户。近年来，随着我国经济快速发展，工业锅炉节能工作的重要性日益突现。如何有效、合理地利用有限的能源资源，提高工业锅炉热效率、降低污染物排放正越来越成为国家各级主管部门和广大锅炉科技人员关心、研究的课题。本刊自创刊以来，始终紧紧围绕为从事工业锅炉设计、制造、检验的科技人员及工业锅炉运行的管理人员服务，及时报道有关工业锅炉新技术、新产品、新经验。为了配合我国工业锅炉节能工作，更好地满足读者的需求，本刊编辑部特此对有关工业锅炉能源利用、节能管理与节能改造、国内外供热新技术、新产品发展及工业锅炉节能管理经验等方面征集相关技术论文。论文涉及内容及要求如下：<br />
                        <span class="staticlie ">
                            1．在我国现有能源结构和供应条件下，提高工业锅炉能源利用率的途径、方法、建议等；<br />
                        </span>2．工业锅炉应用清洁能源、劣质能源、可再生能源的技术、方法、途径及相关建议；<br />
                        <span class="staticlie ">
                            3．国外工业锅炉节能工作做法、经验介绍及可供我国工业锅炉节能工作借鉴的启示、建议等；<br />
                        </span>4．工业锅炉使用单位节能工作经验、做法及相关建议；<br />
                        <span class="staticlie ">
                            5．从国家或行业管理的角度、地区管理的角度，对工业锅炉节能工作的设想、建议；<br />
                        </span> 6．工业锅炉节能技术改造、节能先进管理并带来显著经济、社会效益的实例分析介绍。<br />
                        来稿请注重创新性与实用性、可行性相结合，论文格式请参照本刊已发表论文格式。欢迎大家积极参与，踊跃投稿。<br />
                    </p>



                </div>

            </div>
            <div class="topbank20"></div>

        </div>
    </div>
</div>

<div style="clear:both;"></div>

