@{
    ViewBag.Title = "常见问题";
}
@section Css{
    @Styles.Render("~/Content/staticss")
}
@section scripts{
    @Scripts.Render("~/bundles/static")
}
@section Header{
    @Html.Action("Header", "Home")
}
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">



            <div class="center_zhuti"></div>
            <div>
                <div class="statictit">《工业锅炉》常见问题解答</div>
            </div>


            <div class="bgcolor01">
                <div class="bgcolor0202"></div>
            </div>

            <div class="topbank20"></div>

            <div id="staticmain">

                <div><img src="/Content/images/qishu_book.gif" width="200" height="271" /></div>
                <div class="staticjs">

                    <p>
                        <br />
                        <span class="staticfont07">1.投稿有哪些要求？</span><br />
                        所投稿件应为未公开发表过的稿件，稿件信息必须包括：题目、作者姓名、作者单位、 中英文摘要、关键词、正文、参考文献、作者简介以及联系人姓名、通信地址、邮编、电话、E-mail等。有关投稿细则请参阅“投稿须知”。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">2.投稿有几种方式？</span><br />
                        可以网上或通过邮局邮寄稿件，投稿时务必按要求填写完整准确的信息，以免延误稿件的处理。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">3.投稿有没有字数或者页数限制？</span><br />
                        技术论文力求言简意赅，逻辑分析清晰，用词准确客观，因此，建议作者在投稿时首先考虑如何将工作内容和创新点阐述清楚，而对于业内人员熟知的背景知识，则不必详写只需引相应的文献即可。投稿字数不超过5000字（含图），重要论文可适当增加，但不要超过7000字（含图）。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">4.投稿后，多长时间可得到评审结果？</span><br />
                        正常情况下，收到作者的稿件后2个月左右可得到评审结果。如因一些不可预期的因素影响评审周期，也可能会超过审稿期，望广大作者谅解。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">5.在学术会议上发表过的论文能否在《工业锅炉》上发表？</span><br />
                        会议论文集如已在正式公开出版物（有国际刊号或国内刊号）上刊出，就不能在本刊上再发表。如果不是的，则属于交流材料，可以再投往本刊。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">6.是否接收英文稿件和译稿？</span><br />
                        本刊不接收英文稿件或译稿。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">7.“一稿多投，盗用他人成果”等违反“投稿须知”中的内容，对作者可能会有什么影响？</span><br />
                        近年来，一稿多投、盗用他人成果、伪造实验数据及结果等一些违反学术道德的事件时有发生，不但影响相关人员和单位的形象，也给整个中国科技界带来不少负面影响。为维护期刊声誉，保护知识产权，倡导良好的学术风气，针对以上不良行为，本刊可能采取以下几点处理措施：<br />
                        (1) 2年之内不接受第一作者的投稿；<br />
                        (2)将作者姓名、所在单位名称、文章题目及抄袭文章来源通知所在单位的主管领导层及学生导师；<br />
                        (4)将作者姓名、所在单位名称、文章题目及抄袭文章来源通告其所在省、市有关科技部门、基金资助主管单位及评审专家组等。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">8.稿件寄出后又发现其中有疏漏之处。请问能改吗？</span><br />
                        若稿件已进入审稿流程，如果不是原则性问题，建议作者暂不修改，待收到论文评审意见后一并修改。原则性问题的定义是：修改之处将影响到审稿人对稿件水平的判断。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">9.能否加快审稿时间？</span><br />
                        审稿人评审一篇文章，并给出谨慎的评审意见是需要一定的时间，所以，作者应该留出足够多的时间给编辑部，以便于编辑部进行评审，自送审之日起，如6个月未收到本刊任何回复意见的，作者可撤稿改投他刊。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">10.论文修改后，再次投递，怎么办？</span><br />
                        如果您的文章终审意见是退稿，那么，文章修改之后再投，为提醒编辑部注意，请在备注栏上注明：“修改稿件”字样。
                    </p>
                    <p>
                        <br />
                        <span class="staticfont07">11.投稿后到论文发表前，是否可以增加新的作者，或修改作者的顺序？是否需要提供什么证明或者相关的材料?</span><br />
                        需要第一作者提出申请的签字证明,并将此证明信邮寄回编辑部，新的作者顺序方可生效。<br />
                    </p>
                </div>

            </div>
            <div class="topbank20"></div>

        </div>
    </div>
</div>

<div style="clear:both;"></div>

