@{
    ViewBag.Title = "本刊介绍";
}
@section Css{
    @Styles.Render("~/Content/staticss")
}
@section scripts{
    @Scripts.Render("~/bundles/static")
}
@section Header{
    @Html.Action("Header", "Home")
}
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="center_zhuti"></div>
            <div>
                <div class="statictit">《工业锅炉》杂志介绍</div>
            </div>
            <div class="bgcolor01">
                <div class="bgcolor0202"></div>
            </div>

            <div class="topbank20"></div>

            <div id="staticmain">

                <div><img src="/Content/images/qishu_book.gif" width="200" height="271" /></div>
                <div class="staticjs">
                    <p>
                        《工业锅炉》杂志是经原国家科委批准，由上海工业锅炉研究所主办的以介绍(工业)锅炉行业新技术、新经验为主的综合性技术刊物。《工业锅炉》为双月刊、大16开彩色印刷，国内外公开发行。报道内容包括有关锅炉的设计、制造、工艺、标准、辅机、环保技术、水处理、节能改造、运行管理、事故分析、司炉工园地、行业动态等，选稿注重创新性和实用性。本刊系中国科技论文统计源期刊（中国科技核心期刊），中国科学引文数据库来源期刊，入选中国学术期刊（光盘版），并获全国能源刊物优秀期刊奖。
                    </p>
                </div>

            </div>
            <div class="topbank20"></div>

        </div>
    </div>
</div>
<div style="clear:both;"></div>

