@{
    ViewBag.Title = "投稿须知";
}
@section Css{
    @Styles.Render("~/Content/staticss")
}
@section scripts{
    @Scripts.Render("~/bundles/static")
}
@section Header{
    @Html.Action("Header", "Home")
}

<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="center_zhuti"></div>
            <div>
                <div class="statictit">《工业锅炉》投稿须知</div>
            </div>


            <div class="bgcolor01">
                <div class="bgcolor0202"></div>
            </div>

            <div class="topbank20"></div>

            <div id="staticmain">

                <div><img src="/Content/images/qishu_book.gif" width="200" height="271" /></div>
                <div class="staticjs">

                    <p>由于本刊已入编《中国学术期刊(光盘版)》，文章编排格式均需严格按CAJ—CD B／Tl一1998《中国学术期刊(光盘版)检索与评价数据规范》要求执行。但因不少作者不了解有关要求，许多来稿编排格式不符要求或缺少有关英文内容，为减少返工，提高工作效率，现就论文编写格式及有关要求一并说明如下：</p>
                    <p> 1．论文编写格式及要求按国家出版物(学术期刊)标准要求，学术期刊的论文编写格式及类目包括：(1)论文题名；(2)作者姓名、单位和通讯地址，并附第一作者1寸证件照1张；(3)摘要(200字左右)；(4)关键词(3～5个词)，以上(1)一(4)项用中、英文分别誊写；(5)正文；(6)第1作者简介：姓名，性别、职称、学位、研究方向或专业工作内容。</p>
                    <p> 2．论文字数的规定本刊系工业锅炉有关技术的综合性刊物，读者对象面广量大，不能为某一专栏提供过多的版面，因此投稿字数请不要超过5000字(含图)，重要论文可适当增加，但不要超过7000字(含图)。</p>
                    <p> 3．文后的参考文献  按出版标准规定，文后参考文献编写规定：(1)著作图书：作者．书名[M]．出版次．出版地：出版者，出版年；(2)期刊：作者．文章名[J]．期刊名，年，卷(期)；起止页；(3)论文集或报告：作者．题名[C或D]．出版地：出版者，出版年：起止页；(4)标准：标准编号，标准名称[s]．</p>
                    <p> 4．不录用译稿  由于涉及知识产权的版权问题，本刊不刊登译文。对于学术水准高，参考价值大，深受读者欢迎的国外科技论文，希望作者采用编译或综述方式来编写和投稿，并以国外文献作主要参考文献，本刊可录用。</p>
                    <p> 5．来稿以计算机打印稿为准对稿中易混淆的大小写、外文字母、数学、各符号以及上下角标，尤其在正文及插图中出现如“0”-I“1”(阿拉伯数字)，“0”、“I”(英文字母)；“×”(乘号)，“X”(英文字母)等，必要时均应铅笔标明区别清楚。</p>
                    <p> 来稿请注明作者详细的联系地址、电话、E—mail。如果作者论文系基金资助项目，也请同时注明，凡符合刊用标准的基金资助项目论文，本刊将优先录用。以上望有关作者协助执行。</p>

                    <p>另外，作者向本刊所投稿件一经录用，则该论文的著作权使用费（包括印刷版、光盘版和网络版等各种使用方式的费用）视为自动转让给本刊。本刊已被国内有关数据库收录，支付作者的稿费已包含著作权使用费。如作者不同意论文被收录，请在投稿时向本刊声明。 </p>
                    <p>欢迎广大读者积极为本刊撰写稿件，并经常提出宝贵意见。我们将不断提高期刊质量，更好地为工业锅炉行业的技术发展和广大读者服务。                  </p>
                </div>
            </div>
            <div class="topbank20"></div>
        </div>
    </div>
</div>
<div style="clear:both;"></div>