<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">
            欢迎访问网站后台管理系统，在首页可以添加快速访问菜单
            <button type="button" class="btn btn-primary">添加快速访问菜单</button>
        </blockquote>
        <hr>
    </div>
    <div class="col-sm-12">


    </div>
    </div>


