@model Gygl.BLL.Magazine.ViewModels.GyglViewModel
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="top05_01" id="readbq">
                <div class="blank30"></div>
                <div id="readfeng">
                    <div class="readfengzuo">
                        <div><img src="/Content/Upload/Magazine/Cover/@Model.CoverImage" width="236" height="320" /></div>
                        <div class="readdg blanktop20">
                            <div class="readingbtn blankleft30 "><a href="#/GetPeriod/@Model.Up">上一期</a></div><div>&nbsp; </div><div class="readingbtn"><a href="#/GetPeriod/@Model.Down">下一期</a></div>
                        </div>
                    </div>
                    <div class="readfengyou">
                        <div class="readqishuyou">
                            <div class="blanktop20"><span class="readtitqishu">@Model.Year 年第 @Model.Period 期</span></div>
                            <div class="blank20"></div>
                            <div id="readqishuyouchai">
                                <div class="readqishuyouchai_left">
                                    <span class="readlan">出版日期：</span>2015年2月20日<br />
                                    <span class="readlan">周&nbsp; &nbsp; 期：</span>双月刊(总第 @Model.TotalPeriod 期)<br />
                                    <span class="readlan">主办单位：</span>上海工业锅炉研究所<br />
                                    <span class="readlan">ISSN：</span>1004-8774<br />
                                    <span class="readlan"> 广告经营许可证：</span>3100820110002号<br />
                                    <span class="readlan"> 定&nbsp; &nbsp; 价：</span><span class="readdj">18元/期</span>
                                </div>
                                <div>
                                    <span class="readlan">开&nbsp; &nbsp; 本：</span>16开<br />
                                    <span class="readlan">CN：</span>31-1400/TK<br />
                                    <span class="readlan">邮发代号：</span>4-586<br />
                                </div>
                            </div>
                        </div>
                        <div class="blank20"></div>
                        <div class="readjj lineheight01"><span class="readlan lineheight01">简介：</span><a href="javascript:void(0)">《工业锅炉》杂志是经原国家科委批准，由上海工业锅炉研究所主办的以介绍(工业)锅炉行业新技术、新经验为主的综合性技术刊物。《业锅炉》为双月刊、大16开彩色印刷，国内外公开发行。报道内容包括有关...</a></div>
                        <div class="blank10"></div>
                        <div class="readdg readdgyou blanktop20">
                            <div class="readbtn readbtndg"><a href="@Url.Action("Order","Static")">订&nbsp; 购</a></div>
                            <div class="readbtn readbtnyd"><a href="#/Periodical/@Model.ID">在线阅读</a></div>
                            <div class="readbtn readbtnxz"><a href="#">下载本期</a></div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div class="readbglan">
                    <span class="icon-star">&nbsp;</span>中国科技论文统计源期刊（中国科技核心期刊）<br />
                    <span class="icon-star">&nbsp;</span>中国科学引文数据库来源期刊<br />
                    <span class="icon-star">&nbsp;</span>中国期刊网、中国学术期刊（光盘版）全文记录期刊<br />
                    <span class="icon-star">&nbsp;</span>全国能源刊物优秀期刊<br />
                    <span class="icon-star">&nbsp;</span>中国学术期刊综合评论数据库来源期刊<br />
                </div>
                <div class="mingyuzhubian">
                    <span class="readlan">名誉主编</span><br />
                    林宗虎&nbsp; 西安交通大学教授、博导、工程院院士<br />
                    程其耀&nbsp; 上海工业锅炉研究所原所长、教授级高级工程师<br />
                    留振铎&nbsp; 中国电器工业协会工业锅炉分会常务副理事长、高级经济师<br />
                    <br />
                    <span class="readlan">专家委员会</span><br />
                    林宗虎&nbsp; 罗永浩&nbsp; 陈汉平&nbsp; 赵钦新&nbsp; 别如山&nbsp; 程乐鸣&nbsp; 李耀荣&nbsp; 胡一民&nbsp; 曹荣华&nbsp; 王善武&nbsp; 周仕明<br />
                    <br />
                    <span class="readlan">主管单位：</span>上海电气（集团）总公司<br />
                    <span class="readlan">主&nbsp; &nbsp; 编：</span>沈&nbsp; 欣<br />
                    <span class="readlan"> 副&nbsp;主&nbsp;编：</span>王善武<br />
                    <span class="readlan">编辑出版：</span>《工业锅炉》编辑部<br />
                    <span class="readlan">地&nbsp; &nbsp; 址：</span>上海市宝昌路297号<br />
                    <span class="readlan">邮&nbsp; &nbsp; 编：</span>200071<br />
                    <span class="readlan">电&nbsp; &nbsp; 话：</span>021-51020808-5115,5103<br />
                    <span class="readlan">传&nbsp; &nbsp; 真：</span>021-51803255<br />
                    <span class="readlan"> E-mail:</span>shgygl@126.com<br />
                    <span class="readlan">户&nbsp; &nbsp; 名：</span>上海工业锅炉研究所<br />
                    <span class="readlan">开户银行：</span>工行上海市天目东路支行<br />
                    <span class="readlan">银行账号：</span>1001215509300553939<br />
                    <span class="readlan">发行范围：</span>公开<br />
                    <span class="readlan">国内总发行：</span>上海市报刊发行局<br />
                    <span class="readlan">国外发行代号：</span>BM1736<br />
                    <span class="readlan">国外总发行：</span>中国国际图书贸易集团有限公司<br />
                    <span class="readlan">国内订购：</span>全国各地邮局<br />
                    <span class="readlan">定&nbsp; &nbsp; 价：</span>15.00元<br />
                    <span class="readlan">印&nbsp; &nbsp; 刷：</span>上海市崇明县裕安印刷厂<br />
                </div>
            </div>
        </div>
    </div>
</div>