@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "期刊阅读";
}

@*@section scripts{
    @Scripts.Render("~/bundles/catalog")
}*@

@section hscripts{
    @Scripts.Render("~/bundles/angular")
}
<div ng-view></div>
@*<script src="~/Content/Scripts/gygl.ma.js"></script>*@