<div>
    <div id="q_top004">
        <div id="m_top004">
            <div id="top004">
                <div><img src="/Content/images/readonline.gif" width="184" height="38" /></div>
                <div class="readqishu">{{period.Year}} 年第&nbsp;<span class="readqishu02">{{period.Period}}</span>&nbsp; 期（总第 {{period.TotalPeriod}} 期）</div>
                <div class="readlsbq">
                    <div class="readlsh"><a ng-href="#/GetPeriod2/{{period.ID}}">理事会</a></div>
                    <div class="readbqy"><a ng-href="#/GetPeriod/{{period.ID}}">版权页</a></div>
                </div>
            </div>
        </div>
    </div>
 @Html.Action("Catalog", "Magazine")
    <div id="q_top05">
        <div id="m_top05">
            <div id="top05">
                <div class="top05_01" close-menu>
                    <div ng-repeat="page in pages">
                        <a href="{{page.Url}}" target="_blank"><img ng-src="~/Content/Upload/Magazine/{{page.Location}}/{{page.ImageID}}"/></a>
                    </div>
                </div>
                @Html.Action("RightNav", "Magazine")
            </div>
        </div>
    </div>
</div>
