<div class="readyoudaohang">
    <!--右侧导航开始-->
    <div id="readyougddh">
        <div id="readzd" class="readyoubg01">
            <div class="height38"><img src="/Content/images/youdh01.gif" width="27" height="32" /></div>
            <div><a href="javascript:void(0)">返回顶部</a></div>
            <div class="hui1p"></div>
            <div class="bai1p"></div>
        </div>
        <div class="readyoubg01">
            <div class="height38"><img src="/Content/images/youdh02.gif" width="35" height="33" /></div>
            <div class="height30"><a href="javascript:void(0)">个人中心</a></div>
            <div class="hui1p"></div>
            <div class="bai1p"></div>
        </div>
        <div class="readyoubg01">
            <div class="height38"><img src="/Content/images/youdh03.gif" width="27" height="26" /></div>
            <div class="height30"><a href="#">点评</a></div>
            <div class="hui1p"></div>
            <div class="bai1p"></div>
        </div>
        <div class="readyoubg01">
            <div class="height38"><img src="/Content/images/youdh04.gif" width="33" height="37" /></div>
            <div class="height30"><a href="#">下载</a></div>
            <div class="hui1p"></div>
            <div class="bai1p"></div>
        </div>
        <div class="readyoubg01">
            <div class="height38"><img src="/Content/images/youdh05.gif" width="37" height="32" /></div>
            <div class="height30"><a href="#">微信</a></div>
            <div class="hui1p"></div>
            <div class="bai1p"></div>
        </div>
        <div class="readyoubg01" ng-click="click(nav.up)">
            <div class="height30"><a href="javascript:void(0)">上一篇</a></div>
            <div class="hui1p"></div>
            <div class="bai1p"></div>
        </div>
        <div class="readyoubg01" ng-click="click(nav.down)">
            <div><a href="javascript:void(0)">下一篇</a></div>
        </div>
    </div>
    <!--右侧导航结束-->
</div>
