@model List<Gygl.BLL.Magazine.ViewModels.TilteViewModel>
<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="top05_01" id="readbq">
                <div class="blank30"></div>
                <div id="lsh">《工业锅炉》——综述</div>
                <div class="mingyuzhubian01 readlanmulie" id="conreadlie">
                    <ul>
                        <li class="readlan">2015年第1期</li>
                        <li class="readlantit"><a href="#">燃煤工业锅炉污染物协同治理关键技术</a></li>
                        <li class="readlanzz">赵钦新，杨文君，孙一睿8，马海东，李钰鑫</li>
                    </ul>
                    <ul>
                        <li class="readlan">2015年第1期</li>
                        <li class="readlantit">燃煤工业锅炉污染物协同治理关键技术</li>
                        <li class="readlanzz">赵钦新，杨文君，孙一睿8，马海东，李钰鑫</li>
                    </ul>
                    <div class="blank30"></div>
                    <div class="readlanmulieline"></div>
                    <div class="nextpagelie readlanyou"><img src="/Content/images/buttontemp2.gif" width="201" height="31" /></div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
