<div id="q_top05">
    <div id="m_top05">
        <div id="top05">
            <div class="top05_01" id="readbq">
                <div class="blank30"></div>
                <div id="readfeng" class="readfengnian">

                        <div class="readfengzuonianfen textcenter" ng-repeat="period in periods">
                            <div><img ng-src="/Content/Upload/Magazine/Cover/{{period.CoverImage}}" width="189" height="256" /></div>
                            <div>
                                <div class="textcenter">{{period.Year}}年第 {{period.Period}} 期</div>
                                <div class="readdg">
                                    <div class="textcenter width100"><div class="readbtnnianfen readbtnxz"><a href="#/GetPeriod/{{period.ID}}">阅读本期</a></div></div>
                                </div>
                            </div>
                        </div>

                    <div style="clear:both"></div>
                </div>
                <div class="blank30"></div>
                <div class="readlanmulieline"></div>
                @*<div class="nextpagelie readlanyou"><img src="/Content/images/buttontemp2.gif" width="201" height="31" /></div>*@
                <div class="pagination">
                    <ul id="pagingdata"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

