<div id="q_top005_1">
    <div id="m_top005_1">
        <div id="top005_1">
            <div class="top05_01_02" id="readbq">
                <div class="blank30"></div>
                <div id="readfeng">
                    <div class="readfengyou02">
                        <div class="readqishuyou02">
                            <div class="blanktop20"><span class="readtitqishu">《工业锅炉》杂志介绍</span>（双月刊）</div>
                            <div class="blank20"></div>
                            <div class="readjj lineheight01">
                                <p>
                                    《工业锅炉》杂志是经原国家科委批准，由上海工业锅炉研究所主办的以介绍(工业)锅炉行业新技术、新经验为主的综合性技术刊物。《工业锅炉》为双月刊、大16开彩色印刷，国内外公开发行。报道内容包括有关锅炉的设计、制造、工艺、标准、辅机、环保技术、水处理、节能改造、运行管理、事故分析、司炉工园地、行业动态等，选稿注重创新性和实用性。本刊系中国科技论文统计源期刊（中国科技核心期刊），中国科学引文数据库来源期刊，入选中国学术期刊（光盘版），并获全国能源刊物优秀。
                                </p>
                            </div>
                        </div>
                        <div id="readqishuyouchai02">
                            <span class="readlan">开&nbsp; &nbsp; 本：</span>16开<br />
                            <span class="readlan">主办单位：</span>上海工业锅炉研究所<br />
                            <span class="readlan"> 广告经营许可证：</span>3100820110002号<br />
                            <span class="readlan">I&nbsp;S&nbsp;S&nbsp;N：</span>1004-9774<br />
                            <span class="readlan">C&nbsp; &nbsp; &nbsp;N：</span>31-1400/TK<br />
                            <span class="readlan"> 定&nbsp; &nbsp; 价：</span><span class="readdj">18元/期</span><br />
                            <span class="readlan">邮发代号：</span>4-586
                            <div class="readdg readdgyou blanktop20">
                                <div class="readbtn readbtndg"><a href="@Url.Action("Order","Static")">订&nbsp; 购</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blank30"></div>
                <div class="bgcolor01">
                    <div class="bgcolor0202"></div>
                </div>
                <div class="top05_01">
                    <div class="blank30"></div>
                    <div id="readfeng" class="readfengnian">

                        <div class="readfengzuonianfen textcenter" ng-repeat="period in periods">
                            <div><img ng-src="/Content/Upload/Magazine/Cover/{{period.CoverImage}}" width="189" height="256" /></div>
                            <div>
                                <div class="textcenter">{{period.Year}}年第 {{period.Period}} 期</div>
                                <div class="readdg">
                                    <div class="textcenter width100"><div class="readbtnnianfen readbtnxz"><a ng-href="#/GetPeriod/{{period.ID}}">阅读本期</a></div></div>
                                </div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="blank30"></div>
                    <div class="readlanmulieline"></div>
                    <div class="pagination">
                        <ul id="pagingdata"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


