@charset "utf-8";
/* CSS Document */

* {
	margin:0;/
	padding:0;
	}
	
xhtml,body {
	height:100%;width:100%;font:14px "宋体",Verdana;
	line-height:30px;}
img {	border:0;	}
ul {padding:0;margin:0
}


p{	text-indent: 2em;}



a {
	color:#000;
	text-decoration:none;
	}


a:hover {
	color:#003f8c;

}


#m_top07>div {


	margin-left:300px;


	width:616px;



	}

#top01_01 {
	width:600px!important;}


div[id^=q] {
	width:100%;
	min-width:975px;

	}
	

div[id^=m] {
	width:975px;
	margin: 0 auto;
	

	}	
	

.floatleft>div,#m_top01>div,#m_top02>div,#m_top02>div>div,#top04>div,#magazine_search>div,#magazinejies>div,#magazinedg>div,#shengaosan>div,#m_top011>div>div,#m_top013>div,#m_top02>div>div li{ float:left;}	


	
	
#yctc {
	display:none;
	width:80px;
	}
	

#yctc01>div {
	float:left;}
	

#q_top01 {
	background-color:#372f2c;
	color:#8a8a8a;
	position:fixed;
	z-index:333;
	
	
	}
	

	
#m_top01,#m_top01>div {
	height:40px;
	line-height:40px;}




#m_top01>div{
	margin-right:40px;}


.top01_01>img {

	margin:0 10px 0 5px;}

.top01_01 a {
	color:#8a8a8a;
	}

.top01_01 a:hover {
	color:#ff6826;
	
	}

.top01_02>img,.top01_03>img{
	

	margin:0 10px -2px 5px;}

.top01_02{
	width:300px;

}
#zudltc>div {
	float:right;
	padding-left:15px;}

#zudltc {
	width:350px;
	
	}



.top01_03 a,.top01_03_02 {
	color:#dcdcdc;
	font-weight:bold;
	
	}

.top01_03 a:hover {
	color:#f2f8f6;
	font-weight:bold;
	
	}	
	
	
	

.top01_04 a {
	color:#ffba26;
	font-weight:bold;
	
	}
	
.top01_04 a:hover {
	color:#ff6826;
	font-weight:bold;	
	}


#q_top02 {
	height:78px;
	background-color:#f3f3f3;
	position:fixed;
	z-index:222;
	margin-top:40px;}




#m_top02>div>div{ margin:0 15px;}

.top02_01 {
	padding-right:25px;
}



#q_top03 {
	background-image:url(/Content/images/topcengterbg01.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	background-color:#1e0501;
	height:469px;

	
	
	}


#q_top04 {
	height:46px;
	line-height:46px;
	border:solid;
	border-width:1px 0;
	border-color:#cbcbcb;
	background-color:#fbfbfd;}

#top04 {
	margin-left:305px;
	
	
	}

#top04>div {
	margin:0 15px;

	font-weight:bold;
	}

#top04>div a {

	color:#8c7777;

	}
	
#top04>div a:hover {

	color:#ff6826;

	}
	
	

#top04>div img {
	
	padding:15px 10px 0;
	
	}


#q_top05 {
	
	height:511px;
	background-image:url(../images/centermagabgtop05bg.gif);
	background-repeat:repeat-y;
	background-position:center;
	
	
	}

#q_top05_02 {
	height:511px;
	background-image:url(/Content/images/centermagabg01.jpg);
	background-repeat:no-repeat;
	background-position:center;
	}




#q_top06 {
	height:726px;
	background-image:url(/Content/images/centermagabg02_2.jpg);
	background-repeat:no-repeat;} 
	


#q_top06_02 {
	height:726px;
	background-image:url(/Content/images/centermagabg02.jpg);
	background-repeat:no-repeat;
	background-position:center;} 
	


.sj{
	color:#2c770c;

	}


#top05_news {
	width:260px;
	font-size:12px;
	position:relative;
	padding:30px 0 0 320px;

}
#top05_title {
	padding:90px 0 0 325px;

	
	}


.top05_newsmore{
	text-align:right;
	}


#top05_news a:hover {
	color:015e0e;}


#m_top06>div {
	padding-left:325px;
	width:560px;

	
	}


.tcenter {
	text-align:center;}
.ttitle {
	padding-top:30px;
	padding-bottom:20px;
}




.searchbox {
	border:1px solid #88a3af;
	font-size:14px;
	width:215px;
	height:35px;
	color:#9abccd;

	margin-right:8px;
	background-image:url(/Content/images/magazinesearchbg.gif);
	background-repeat:no-repeat;

	}


.searchbox02 {
	border:1px solid #88a3af;
	font-size:14px;
	width:85px;

	height:35px;
	color:#9abccd;
	margin-right:8px;
	
	background-image:url(/Content/images/magazinesearchbg02.gif);
	background-repeat:no-repeat;


	}


.newstitle02 {
	background-image:url(/Content/images/magazine04.png);
	background-repeat:no-repeat;
	background-position:right;
	width:561px;
	height:36px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	
	}



.qishufont {
	font-size:24px;
	color:#ffba36;
	}



.shengming01 {
	clear:both;
	line-height:80px;

	height:80px;
	text-align:center;}




#newsabc {
	padding-top:20px;

	}

#newsabc li {
	list-style-type:none;
	text-align:left;
	}


.qishuliepretit {
	color:#7b5408;
	font-weight:bold;
	
	}


.magazinebutton02 {
	padding:20px 0 0 60px;}



#q_top07 {
	background-color:#28749b;
	color:#bbd7e5;
	
	}






#magazinejies {
	background-color:#fff;

	padding:1px;

	height:170px;

	
	}
	
#magazinejies>div{
	padding:1px;

	
	}
#m_top07 {
	height:480px;} 	


#magazinedg {
	margin:30px 0;
	
	}
	
	
#q_top07_02_bottom {
	background-image:url(/Content/images/q_top08_02bg.gif);
	background-position:center;
	background-repeat:no-repeat;
	height:35px;}
	
	
#q_top07_bottom {
	background-image:url(/Content/images/q_top08_02bottom.jpg);
	background-position:center;
	background-repeat:repeat-y;
	
	}


#q_top08_02 {
	background-image:url(/Content/images/q_top08_02bg.gif);
	background-repeat:no-repeat;
	background-position:center;
	height:35px;
	
	
	
	}
#q_top08 {	
	background-image:url(/Content/images/q_top08_02bg02.gif);
	background-position:center;
	background-repeat:repeat-y;

	
	}

#q_top09 {
	background-image:url(/Content/images/magazinebg05.gif);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#f0f6f4;
	height:496px;
	}


#q_top10_02 {
	background-image:url(/Content/images/magazinebg06.jpg);
	background-position:center;
	background-repeat:no-repeat;
	height:121px;
	}


#shengaosan {
	height:220px;
		}

#shengaosan>div {
	text-align:center;
	width:220px;
}

#m_top09>div {
	padding-top:20px;
	padding-left:300px;
	clear:both;}

#m_top011>div {
	padding-left:300px;
	}

#m_top011>div>div {
	padding:15px;
	color:#fff;
	font-weight:bold;

	font-size:16px;
	font-family:SimHei ;

	
	}

#q_top11 {
	background-color:#035d8b;
	height:500px;}




#q_top12_02 {
	background-image:url(/Content/images/magazine11.gif);
	background-position:center;
	background-repeat:no-repeat;
	height:31px;}



#q_top12 {
	background-image:url(/Content/images/magazine11bg.gif);
	background-repeat:repeat-y;
	background-position:center;}


#q_top13 {
	background-color:#231d1b;
	height:200px;
	color:#d0cfcf;
	}



#m_top013 a {
	color:#fff;}
	
#m_top013 a:hover {
	color:#ff6826;}	
	

#m_top02>div>div li {
	list-style-type:none;text-transform:capitalize;}
	

<!---->
.bottomblank35 {
	padding-bottom:35px;}
	
.magazinedglefgblank {
	padding-left:250px;


	}
	
.textalignright {
	text-align:right;}
	
.textaligncenter {
	text-align:center;
	height:60px;
	}
.blankbottom {
	padding:10px 0 25px;}


.bottomerwei {
	padding:60px 30px 0 80px;}
	
	
.bottombanquan {
	padding-top:60px;}
	
	
.blankleftbottom {
	padding-left:50px;}
	

#m_top02>div>div ul {


	

		 position:absolute;
		 width:500px;
		
		 

	 display: none;
	
	
	}

.m_top02ul03 {

		 right:300px;
		
	
	}







.m_top02ul06 {

		 right:-90px;
		
	
	}
	
	
	
#m_top02>div>div li a:hover {

color:#ffba26;
	

		
	
	
	
	}






#q_top02bg {
		 position:fixed;
		 background-color:#000;
		  filter:alpha(opacity=70);  
      -moz-opacity:0.7  
      -khtml-opacity: 0.7;  
      opacity: 0.7;
	  height:85px;

	
	  margin-top:78px;
	  z-index:111;
	  
	
	
	}		 


	 

#m_top02>div>div li{

	padding-right:25px;
	line-height:25px;

	
	
	}	
	 


#m_top02>div>div li a {
	color:#FFF;
	}	
	
	
#m_top02chong>div {
	float:left;}
	
#ietuchong01_02 ul {
	display:none;}

#ietuchong01_02>div {
	padding:0 15px;
	float:left;
	height:68px;
	min-height:68px;
	height:auto;
	}

#q_top02chong {
	height:78px;
	background-color:#f3f3f3;
	position:fixed;
	z-index:222;
	padding-top:40px;
	}
	
	
#q_top02chong a {
	color:#fff;

	}
	
#q_top02chong a:hover {
	color:#ffba26;

	}

#ietuchong01_02 ul {

	position:absolute;
	width:500px;

	}
#ietuchong01_02 li {
	float:left;
	padding-right:15px;
	line-height:40px;}