@{
    ViewBag.Title = "找回密码";
}
@section Css{
    @Styles.Render("~/Content/registercss")
}
@section scripts{
    @Scripts.Render("~/bundles/reg")
}
<div id="q_top05_login">
    <div id="m_top05_login">
        <div id="top05_login">
            <div class="login_top"></div>
            <div id="loginmain">
                <div class="logintexttit logintexttit02">找回密码</div>
                <div class="zcyou"><input type="text" name="login-name" class="form-control" id="username" placeholder="请输入账号"></div>
                <div class="zcyou"><input type="text" name="login-name" class="form-control" id="email" placeholder="请输入注册邮箱"></div>
                <div><a href="#" class="button btn-green" id="forget">下&nbsp;一&nbsp;步</a></div>
            </div>
        </div>
    </div>
</div>
<div id="q_top04">
    <div id="m_top04">
        <div id="top04">
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="#">在线阅读（2016年第1期）</a></div>
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="#">杂志订购</a></div>
            <div><img src="/Content/images/magazine_top05.gif" width="15" height="15" /><a href="#">期刊下载（pdf版）</a></div>
        </div>
    </div>
</div>


